%h2 User Info
%p
  https://www.airbnb.com/api/v2/users?currency=USD&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&user_ids=395614&role=all&_format=for_user_promo_page
%p
  https://www.airbnb.com/api/v2/users?currency=USD&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&user_ids=395614&role=all
%h2 User Listings
%p
-#   https://www.airbnb.com/api/v2/listings?currency=USD&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&user_id=395614&role=all&_format=for_user_promo_page
-# %p
-#   https://www.airbnb.com/api/v2/listings?currency=USD&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&user_id=395614&role=all
%p
  https://www.airbnb.com/api/v2/user_promo_listings?_limit=10&_offset=10&currency=USD&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&user_id=395614&_limit=50&_offset=50
%h2 Avaliability
%p
  https://www.airbnb.com/api/v3/PdpAvailabilityCalendar?operationName=PdpAvailabilityCalendar&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&currency=USD&variables=%7B%22request%22%3A%7B%22count%22%3A12%2C%22listingId%22%3A%2248050514%22%2C%22month%22%3A3%2C%22year%22%3A2021%7D%7D&extensions=%7B%22persistedQuery%22%3A%7B%22version%22%3A1%2C%22sha256Hash%22%3A%22dc360510dba53b5e2a32c7172d10cf31347d3c92263f40b38df331f0b363ec41%22%7D%7D&_cb=1ufa5s18y1tvf
  -# https://www.airbnb.com/api/v3/PdpAvailabilityCalendar?operationName=PdpAvailabilityCalendar&key=d306zoyjsyarp7ifhu67rjxn52tv0t20&locale=en&currency=USD&variables=%7B%22request%22%3A%7B%22count%22%3A12%2C%22listingId%22%3A%2241745303%22%2C%22month%22%3A3%2C%22year%22%3A2021%7D%7D&extensions=%7B%22persistedQuery%22%3A%7B%22version%22%3A1%2C%22sha256Hash%22%3A%22dc360510dba53b5e2a32c7172d10cf31347d3c92263f40b38df331f0b363ec41%22%7D%7D&_cb=1ufa5s18y1tvf