%header.py-2
  .row
    .column
      .flex.ai-center
        = link_to 'Hosts', hosts_path, class: 'm-1 ml-0'
        = link_to 'Add Host', new_host_path, class: 'm-1'
        = link_to 'Listings', listings_path, class: 'm-1'
        = link_to 'End Points', home_path, class: 'm-1'
